/*
Theme Name:     New Mexico In Depth
Theme URI:      http://nmindepth.com
Description:    A child theme for New Mexico In Depth based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo-dev
Version:        0.1.0
*/

/*
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #333;
  background-color: #fff;
}
a {
  color: #2c2c2c;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
#site-footer a:hover {
  color: #1ba5a9;
  text-decoration: underline;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #2c2c2c;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}
#site-footer a,
.pager a:hover,
.global-nav li > a:hover,
.navbar li > a:hover,
.navbar .dropdown-menu .active>a,
.navbar .dropdown-menu .active>a:hover {
  color: #1ba5a9;
}
.byline a {
  text-transform: capitalize;
}
.byline {
  font-size: 12px !important;
  margin-bottom: 8px !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.largo-recent-posts p, .largo-sidebar-featured .post-lead p {
  font-size: 13.04px;
}
.largo-recent-posts h5 {
  font-size: 18px;
  margin-bottom: 5px;
}
#homepage-featured .sub-stories h3 {
  font-size: 18px !important;
}
#homepage-featured .sub-stories p {
  font-size: 13.04px !important;
}
.morelink {
  text-align: right;
}
span.search-term {
  background-color: #a6dfe1;
}
.pager a {
  border: 1px solid #a6dfe1;
}
#related-post-nav a.selected {
  background: #1ba5a9;
}
#homepage-bottom-2, #homepage-bottom {
  margin-top: 10px;
}
#homepage-bottom-2 .widgettitle {
  margin: 0 0 8px;
  padding: 0 0 5px;
  font-size: 13.04px;
  background: 0;
  color: #333;
  border: 0;
  border-bottom: 1px solid #ccc;
}
#homepage-bottom-2 h5 {
  font-size: 18px;
  margin-bottom: 5px;
}
#homepage-bottom-2 img {
  max-width: 35%;
}
#homepage-bottom-2 img.attachment-large {
  max-width: 100%;
}
#homepage-bottom-2 p {
  font-size: 13.04px;
}
#homepage-bottom-2 ul {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#homepage-bottom-2 ul li {
  list-style: none;
}
#homepage-bottom-2 .rev .widgettitle,
.global-nav,
.navbar .btn-navbar .icon-bar {
  color: #fff;
}
#homepage-bottom-2. widget.odd {
  float: left;
  clear: both;
  margin-left: 0;
}
#homepage-bottom-2 .widget.even {
  float: right;
  clear: none;
}
#homepage-bottom .widget.odd, #homepage-bottom .widget.even, #homepage-bottom-2 .widget.odd, #homepage-bottom-2 .widget.even {
  float: none;
  clear: both;
  margin: 0 0 24px 0;
}
#homepage-bottom {
  float: left;
  width: 48%;
}
#homepage-bottom .widget {
  width: 95%;
}
#homepage-bottom-2 {
  float: right;
  width: 48%
}
#homepage-bottom .span6.widget,
#homepage-bottom-2 .span6.widget {
  width: 100%;
}
.module.aside p,
.module.aside ul {
  font-size: 14px;
}
.module.aside {
  margin-top: 8px;
  margin-right: 25px;
  margin-bottom: 12px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.module.aside.half {
  width: 40%
}
.module.pull-quote.half {
  width: 45%
}
*/
/********* HEADER ***********/
/*
.global-nav-bg {
  background-color: #2c2c2c;
}
.donate-btn,
.donate-btn:hover {
  background-color: #8a0017;
}
.donate-btn .icon-heart {
  display: none;
}
.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.navbar .open > a,
.navbar li > a:hover,
.widgettitle,
.footer-bg {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}
.navbar .btn-navbar {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #1a5a90 #1a5a90 #0e314f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1a5a90;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #2c2c2c;
  *background-color: #2c2c2c;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #2c2c2c \9;
}
.navbar .divider-vertical {
  background-color: #7e7e7e;
  width:1px;
  border-left:1px solid #808080;
}
.navbar .active>a,.navbar .active>a:hover {
  color: #ddd;
  text-decoration:none;
  background-color: #2c2c2c
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#supplementary ul.menu li:first-child {
  border-top: 0;
}

@media(max-width:979px) {
  .entry-content a {
    text-decoration: underline;
  }
  #homepage-bottom-2, #homepage-bottom {
    float: none;
    width: 100%;
    margin-top: 1px;
  }
  #homepage-bottom-2 .widget {
    clear: both;
    float: none;
    width: 100%;
    margin: 0 0 24px;
  }
  .module.aside {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ececec;
    margin-bottom: 15px;
  }
  .module.aside.half {
    width: 93%
  }
  .module.pull-quote.half {
    width: 91%
  }
}
*/